<!DOCTYPE html>
<html>
<head>
<title>卫生院基本信息表</title>
#parse("sys/header.html")
<script>
	var orgId="$shiro.getBaseInfo('orgId')";
	var orgName="$shiro.getBaseInfo('orgName')";
	var userName="$shiro.getBaseInfo('userName')";
</script>
</head>
<body>
<div id="departrrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">

			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>

			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>


		</div>
	    <table id="departGrid"></table>
	    <div id="departGridPager"></div>
    </div>
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">机构编码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseOrgInfo.orgId" readonly placeholder="机构编码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">机构名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseOrgInfo.orgName" readonly placeholder="机构名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">机构地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseOrgInfo.address" placeholder="机构地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">负责人邮箱</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseOrgInfo.email" placeholder="负责人邮箱"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">负责人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseOrgInfo.manager" placeholder="负责人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">负责人电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseOrgInfo.phone" placeholder="负责人电话"/>
			    </div>
			</div>

							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/statics/js/inocpointmgr/tbaseorginfo.js?_${date.systemTime}"></script>
</body>
</html>