<!DOCTYPE html>
<html xmlns:v-bind="http://java.sun.com/jsf/composite" xmlns="http://java.sun.com/jsf/html">
<head>
	<title>儿童档案</title>
	<link rel="stylesheet" href="${rc.contextPath}/statics/css/public/public.css" media="all">
	<link rel="stylesheet" href="${rc.contextPath}/statics/css/public/base.css" media="all">
	<link rel="stylesheet" href="${rc.contextPath}/statics/plugins/layui/css/layui.css" media="all">
	#parse("sys/header.html")
	<!--选择城市控件-->
	<link href="${rc.contextPath}/statics/plugins/city/css/city-picker.css" rel="stylesheet">
	<link href="${rc.contextPath}/statics/plugins/city/css/main.css" rel="stylesheet">
	<script src="${rc.contextPath}/statics/plugins/city/js/city-picker.data.js"></script>
	<script src="${rc.contextPath}/statics/plugins/city/js/city-picker.js"></script>
	<script src="${rc.contextPath}/statics/plugins/city/js/main.js"></script>

	<script>
        var orgId="$shiro.getBaseInfo('orgId')";
        var orgName="$shiro.getBaseInfo('orgName')";
        var userName="$shiro.getBaseInfo('realName')";
	</script>
	<style type="text/css">
		/*隐藏掉我们模型的checkbox*/
		.my_protocol .input_agreement_protocol {
			appearance: none;
			-webkit-appearance: none;
			outline: none;
			display: none;
		}
		/*未选中时*/
		.my_protocol .input_agreement_protocol+span {
			width: 16px;
			height: 16px;
			background-color: red;
			display: inline-block;
			background-position-x: 0px;
			background-position-y: -25px;
			position: relative;
			top: 3px;
		}
		/*选中checkbox时,修改背景图片的位置*/
		.my_protocol .input_agreement_protocol:checked+span {
			background-position: 0 0px
		}
		.section-title {
			margin: 0;
			padding-left: 15px;
			line-height: 40px;
			font-size: 14px;
			color: #666;
			background: #F2F2F2;
			border-bottom: 1px solid #e6e6e6;
		}
	</style>

</head>
<body class="childrenBody">
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn"  style=" padding: 4px; border: gainsboro 1px solid" onmouseover="over(this)" onmouseout="out(this)">
			<form class="form-inline" role="form" id="childForm">
				<div class="form-group">
					&nbsp;出生日期:<input type="text" class="form-control" v-model.trim="q.chilBirthdayStart" id="chilBirthdayStart" name="chilBirthdayStart" @keyup.enter="query" style="width: 100px" placeholder="">
				</div>
				<div class="form-group">
					—<input type="text" class="form-control" v-model.trim="q.chilBirthdayEnd" id="chilBirthdayEnd" name="chilBirthdayEnd" @keyup.enter="query" style="width: 100px" placeholder="">
				</div>
				<div class="form-group">
					&nbsp;&nbsp;性别：
					<select class="form-control" data-live-search="false" v-model.trim="q.chilSex" id="chilSex" @keyup.enter="query" name="chilSex">
						<option value=""></option>
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
				</div>
				<div class="form-group">
					&nbsp;儿童姓名:	<input type="text" class="form-control" v-model.trim="q.chilName" name="chilName" @keyup.enter="query" style="width: 100px" placeholder="">
				</div>
				<div class="form-group">
					&nbsp;家长姓名:	<input type="text" class="form-control" v-model.trim="q.chilMother" name="chilMother" @keyup.enter="query" style="width: 100px" placeholder="">
				</div>
				<div class="form-group">
					&nbsp;居委会/行政村:
					<select class="selectpicker" data-live-search="true" title="" @keyup.enter="query" id="chilCommittees" name="chilCommittees" >
						<option value=""></option>
					</select>
					<!--
                                        <input type="text" class="form-control" v-model="q.chilCommittee" @keyup.enter="query" style="width: 170px" placeholder="">
                    -->
				</div>
				<!--<div class="form-group">
					户籍属性:	<input type="text" class="form-control" v-model="q.chilAccount" @keyup.enter="query" style="width: 100px" placeholder="">
				</div>-->
				<!--<div class="form-group">
					&nbsp;个案状态:<input type="text" class="form-control" v-model="q.chilHere" @keyup.enter="query" style="width: 100px" placeholder="">
				</div>-->
				<div class="form-group">
					&nbsp;在册情况:
					<select v-model="q.chilHere" class="form-control" @keyup.enter="query"  id="infostatus" name="infostatus" >
						<!--<option v-for="item in items" v-bind:value="item.value">111</option>-->
						<option value="" ></option>
					</select>
				</div>
				&nbsp;&nbsp;<a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
				<a class="btn btn-primary" @click="reset"><i class="fa fa-refresh"></i>&nbsp;重置</a>
				<br/>
				<div id="condition" style="margin-top: 10px;margin-bottom:5px ">
					<div class="form-group" >
						&nbsp;建档日期:<input type="text" class="form-control" v-model.trim="q.chilCreatedateStart" id="chilCreatedateStart" name="chilCreatedateStart" @keyup.enter="query" style="width: 100px" placeholder="">
					</div>
					<div class="form-group">
						—<input type="text" class="form-control" v-model.trim="q.chilCreatedateEnd" id="chilCreatedateEnd" name="chilCreatedateEnd" @keyup.enter="query" style="width: 100px" placeholder="">
					</div>

					<div class="form-group">
						&nbsp;变动日期:<input type="text" class="form-control" v-model.trim="q.chilLeavedateStart" id="chilLeavedateStart" name="chilLeavedateStart" @keyup.enter="query" style="width: 100px" placeholder="">
					</div>
					<div class="form-group">
						—<input type="text" class="form-control" v-model.trim="q.chilLeavedateEnd" id="chilLeavedateEnd" name="chilLeavedateEnd" @keyup.enter="query" style="width: 100px" placeholder="">
					</div>
					<div class="form-group">
						&nbsp;接种日期:<input type="text" class="form-control" v-model.trim="q.inoculateDateStart" id="inoculateDateStart" name="inoculateDateStart" @keyup.enter="query" style="width: 100px" placeholder="">
					</div>
					<div class="form-group">
						—<input type="text" class="form-control" v-model.trim="q.inoculateDateEnd" id="inoculateDateEnd" name="inoculateDateEnd" @keyup.enter="query" style="width: 100px" placeholder="">
					</div>

					<div class="form-group">
						儿童编码:<input type="text" class="form-control" v-model.trim="q.chilCode" name="chilCode" @keyup.enter="query" style="width: 180px" placeholder="">
					</div>

					<div class="form-group">
						<input type="checkbox"  v-model.trim="q.isUpload" id="isUpload" name="isUpload" @keyup.enter="query" style="height:20px;margin-right:1px;margin-bottom:10px;width:20px;display:inline-block;position: relative;top: 4px" placeholder=""/>未上传
					</div>
					<div class="form-group">
						<input type="checkbox"  v-model.trim="q.currentDepartChild" id="currentDepartChild" name="currentDepartChild" @keyup.enter="query" style="height:20px;margin-right:1px;margin-bottom:10px;width:20px;display:inline-block;position: relative;top: 4px" placeholder=""/>本单位儿童
					</div>
					<!--<div style="margin-top:10px ">-->
				</div>

				<!--<div class="form-group">-->
				<!--&nbsp;父亲姓名:	<input type="text" class="form-control" v-model.trim="q.chilFather" name="chilFather" @keyup.enter="query" style="width: 100px" placeholder="">-->
				<!--</div>-->

				<!--<a class="btn btn-default" @click="downloadChild">平台下载</a>-->
					<!--#if($shiro.hasPermission("tchildinfo:delete"))
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                #end-->
				<!--</div>-->
			</form>
		</div>


		<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>

		<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
		<a class="btn btn-primary" @click="batchPrintCode"><i class="fa fa-pencil-square-o"></i>&nbsp;打印条码</a>

		<a class="btn btn-primary"  @click="printCard"><i class="fa fa-print"></i>&nbsp;&nbsp;接种卡打印</a>
		<a class="btn btn-primary"  @click="print"><i class="fa fa-print"></i>&nbsp;&nbsp;接种证打印</a>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;导出 <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" @click="excel">儿童基本信息</a></li>
				<li><a href="#" @click="exportChildAndInoculate">儿童基本信息及接种信息</a></li>
			</ul>
		</div>

		<a class="btn btn-primary"  @click="inoculateInput"></i>&nbsp;&nbsp;接种录入</a>
		<a class="btn btn-primary"  @click="queryFromPlat"></i>&nbsp;&nbsp;省平台查询</a>

		<a  class="btn btn-primary" @click="uploadAllChildren"><i class="fa fa-upload"></i>&nbsp;上传全部</a>
		<a  class="btn btn-primary" @click="upload"><i class="fa fa-upload"></i>&nbsp;单条上传</a>
		<div style="width: 41%;position: absolute">
			<ul class="nav nav-tabs mt10" style="margin-bottom: 16px" >
				<li class="active"><a href="" data-toggle="tab">查询结果</a></li>
			</ul>
			<!--<p class="section-title" style="font-weight: bold">查询结果</p>-->
			<table id="jqGrid">

			</table>
			<div id="jqGridPager"></div>
		</div>
		<!--<div style="width: 43%;position: absolute" class="layui-row layui-col-space10">
			<section class="layui-col-md6" id="resultTableWrap">
				<div class="borderWrap">
					<p class="section-title" style="font-weight: bold">查询结果</p>
					<div class="table-wrapper">
						<table id="jqGrid"></table>
						<div id="jqGridPager"></div>
					</div>
				</div>
			</section>
		</div>-->
		<!--<a class="btn btn-primary" style="float: right;margin-top: 20px;margin-right: 190px" @click="printCard"></i>接种卡打印</a>
		<a class="btn btn-primary" style="float: right;margin: 20px;" @click="print"></i>&nbsp;&nbsp;接种证打印</a>-->
		<!--<button style="float: right"><a href="#move" id="" data-toggle="tab">变更记录</a></button>-->
		<!--接种记录、过敏史、异常反应等-->
		<div style="float: right;width: 57%">
			<ul class="nav nav-tabs mt10" >
				<li class="active"><a href="#inoculation" data-toggle="tab">接种记录</a></li>
				<li><a href="#abnormal" data-toggle="tab">异常反应</a></li>
                <li><a href="#taboo" data-toggle="tab">接种禁忌</a></li>
                <li><a href="#allergy" data-toggle="tab">过敏史</a></li>
                <li><a href="#infection" data-toggle="tab">传染病史</a></li>
                <li><a href="#move" id="moveTitle" data-toggle="tab">变更记录</a></li>
                <!--<li><a href="#newBorn" data-toggle="tab">新生儿</a></li>-->
                <li><a href="#migrationChild" data-toggle="tab">异地接种儿童</a></li>
				<!--<li><a href="#serviceRecord" data-toggle="tab">服务记录</a></li>-->

			</ul>

			<!--以上类容展示-->
			<div class="tab-content" style="margin-top: 5px">
				<!--接种记录-->
				<div class="tab-pane fade in active" id="inoculation">
					<div id="inoculation_tabs" v-cloak>
						<!--<p class="section-title" style="font-weight: bold">查询结果</p>-->
						<iframe name="inoculation" style="width:100%;height:680px" frameborder="0"  id="inoculation_iframe" src="../child/tchildinoculate.html"></iframe>

					</div>
				</div>

				<!--变更记录-->
				<div class="tab-pane fade in " id="move">
                    <div id="move_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:450px" frameborder="0" id="move_iframe"   src="../child/tchildmove.html"></iframe>
                    </div>

                </div>
                <div class="tab-pane fade in " id="abnormal">
                    <div id="abnormal_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:450px" frameborder="0" id="abnormal_iframe"   src="../child/tchildabnormal.html"></iframe>
                    </div>

                </div>
                <div class="tab-pane fade in " id="taboo">
                    <div id="taboo_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:450px" frameborder="0" id="taboo_iframe"   src="../child/tchildtaboo.html"></iframe>
                    </div>

                </div>
                <div class="tab-pane fade in " id="allergy">
                    <div id="allergy_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:450px" frameborder="0" id="allergy_iframe"  src="../child/tchildallergy.html"></iframe>
                    </div>

                </div>
                <div class="tab-pane fade in " id="infection">
                    <div id="infection_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:450px" frameborder="0" id="infection_iframe"   src="../child/tchildinfection.html"></iframe>

                    </div>

                </div>
                <!--<div class="tab-pane fade in " id="newBorn">
                    <div id="newBorn_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:250px" frameborder="0" id="newBorn_iframe"   src="../provinceplatform/tchilddownload.html"></iframe>

                    </div>

                </div>-->
                <div class="tab-pane fade in " id="migrationChild">
                    <div id="migrationChild_tabs" v-cloak>
                        <iframe name="" style="width:100%; height:250px" frameborder="0" id="migrationChild_iframe"   src="../provinceplatform/tchildelsewhere.html"></iframe>

                    </div>

                </div>
			</div>
		</div>

	</div>
	<!--打印弹框选择开始-->
	<div id="printDialog" class="printDialog layui-row none form-inline" title="打印选择" >
		<ul id="myTab" class="nav nav-tabs">
			<!--接种记录-->
			<li class="active"><a href="#inoculate" data-toggle="tab">接种记录</a></li>
			<!--儿童信息-->
			<li><a href="#info" data-toggle="tab">儿童信息</a></li>
		</ul>
		<div id="myTabContent" class="tab-content" style="margin-top: 10px;margin-left: 10px">
			<div class="tab-pane fade in active" name="div1" id="inoculate" style="margin-left: 20px">
				<h5 style="margin-left: 30px;">请选择接种证打印模板：</h5>
				<div  style="width:100%; text-align:center">
					<div style="display: inline-block">
						接种证打印模板:
						<select  class="form-control"  id="inocModelName" name="modelName" >

						</select>
					</div>
					<br/>
					<br/>
					<div style="display: inline-block">
						请输入打印行数:
						<input  class="form-control"  id="lineCount" name="lineCount" />&nbsp;&nbsp;<input id="lineCountCheck" type="checkbox"/>下半页
					</div>
					<br/>
					<div style="margin-top: 10px">接种记录打印字体大小：<input id="fontSize" style="width: 40px"></div>
				</div>
				<br/>
				<div style="text-align: center">
					<button onclick="printInoculation(1,$('#inocModelName').val())" class="layui-btn" style="width: 120px;height: 50px;font-size: 16px" >打&nbsp;&nbsp;印</button>
				</div>
				<div style="text-align: left;margin-left:30px;color: red">
					请注意：<br/>
					<font color="red">1.“接种记录打印字体大小”默认值为"8"</font><br/>
					<font color="red">2.不同的打印模板打印效果不同。</font><br/>
					<font color="red">3.如果打印需要分页，请注意放置顺序：先放入接种记录（一）（二）再放入接种记录（三）（四）！</font><br/>
					<font color="red">4.指定行打印主要针对接种证上没有标识的疫苗</font><br/>
					<font color="red">5.指定行打印与选择打印模板无关</font>
					<br/>
				</div>
			</div>
			<div class="tab-pane fade in" id="info" name="info" style="margin-left: 20px">
				<h5 style="margin-left: 30px">请选择接种证打印模板：</h5>
				<div  style="width:100%; text-align:center">
					<div style="display: inline-block">
						接种证打印模板:
						<select  class="form-control"  id="infoModelName" name="infoModelName" >

						</select>
					</div>
				</div>
				<br/>
				<div style="text-align: center">
					&nbsp;&nbsp;&nbsp;<button onclick="printChildInfo(1,$('#infoModelName').val())" class="layui-btn" style="width: 120px;height: 50px;font-size: 16px" >打&nbsp;&nbsp;印</button>
				</div>

				<br/>
				<div style="text-align: left;margin-left:30px;color: red">
					请注意：
					<font color="red">  不同的打印模板打印效果不同</font><br/>
				</div>
			</div>
		</div>

	</div>
	<div id="printCardDialog" class="printDialog layui-row none form-inline" title="打印选择" >
		<br/>

		<br/>
		<div style="text-align: center">
			<div style="text-align: center">
				请输入打印行数:
				<input  class="form-control"  id="cardLineCount" name="lineCount" style="width: 80px;margin-right: 10px"/>
			</div>
			<br/>
			<div>接种记录打印字体大小：<input id="cardFontSize" style="width: 40px"></div>
			<br/>
			<br/>
			<button onclick="printInoculation(2,'')" class="layui-btn" style="width: 150px;height: 50px;font-size: 16px" >打印接种记录</button>
			&nbsp;&nbsp;&nbsp;<button onclick="printChildInfoCard(1)" class="layui-btn" style="width: 120px;height: 50px;font-size: 16px" >新卡打印</button>
			&nbsp;&nbsp;&nbsp;<button onclick="printChildInfoCard(5)" class="layui-btn" style="width: 150px;height: 50px;font-size: 16px" >打印儿童信息</button>
			<br/>
			<br/>

		</div>


		<br/>
		<div style="text-align: left;margin-left:30px;margin-bottom:10px;color: red">
			请注意：<br/>
			<font color="red">  1.“接种记录打印字体大小”默认值为"8"</font><br/>
			<font color="red">  2.“打印接种记录”按钮为打印所选择的接种记录</font><br/>
			<font color="red">  3.新卡打印”按钮为打印儿童基本信息和所有历次接种记录</font><br/>
			<font color="red">  4.指定行打印主要针对接种卡上没有标识的疫苗</font><br/>
		</div>

	</div>
	<div v-show="!showList" class="panel panel-default" id="childModel">
		<div class="panel-heading">{{title}}</div>
		<form class="form-inline" role="form" id="chilForm">
			<br/>
			<div class="form-group">
				&nbsp;建档单位:	<input type="text" class="form-control" v-model="tChildInfo.chilCreatesite" name="chilCreatesite" readonly style="width: 200px" placeholder="">

			</div>

			<div class="form-group">
				&nbsp;建档人:	<input type="text" class="form-control" v-model="tChildInfo.createUserName" readonly name="createUserName" style="width: 100px" placeholder="">

			</div>
			<div class="form-group">
				建档日期:
				<input type="text" class="form-control" v-model="tChildInfo.chilCreatedate" readonly  id='chilCreatedate' name="chilCreatedate" style="width: 170px; height: 35px;" />
			</div>
			<br/>
			<br/>
			<div class="form-group">
				<span style="position: relative;">&nbsp;儿童姓名:<span  style="color:red;padding-left: 5px;font-size: 20px;    position: absolute;margin-top: 6px">*</span></span><input type="text" class="form-control" v-model="tChildInfo.chilName" name="chilName"  style="width: 100px;margin-left: 18px" placeholder="">

			</div>
			<div class="form-group">
				<span style="position: relative;">&nbsp;性别:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>
				<select v-model="tChildInfo.chilSex" class="form-control" name="chilSex" style="margin-left: 18px">
					<option value="1">男</option>
					<option value="2">女</option>
				</select>
			</div>


			<div class="form-group">
				<span style="position: relative;">&nbsp;出生日期:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>
				<input type="text" class="form-control" v-model="tChildInfo.chilBirthday"  name="chilBirthday"  id='chilBirthday'  style="width: 170px; height: 35px;margin-left: 18px"/>
			</div>

			<br/>
			<br/>

			<div class="form-group">
				<span style="position: relative;">&nbsp;家庭电话:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>	<input type="text" class="form-control" v-model="tChildInfo.chilTel" id="chilTel" name="chilTel" style="width: 150px;margin-left: 18px" placeholder="">

			</div>

			<div class="form-group">
				<span style="position: relative;">&nbsp;母亲姓名:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>	<input type="text" class="form-control" v-model="tChildInfo.chilMother" name="chilMother" style="width: 100px;margin-left: 18px" placeholder="">

			</div>
			<div class="form-group" id="chilCommitteeIdParent">
				<span style="position: relative;">&nbsp;行政村/居委会:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>
				<select class="selectpicker" title="请选择行政村/居委会" data-live-search="true"  id="chilCommittee" name="chilCommittee" style="margin-left: 18px" >

				</select>
			</div>

			<br/>
			<br/>
			<div class="form-group">

				<span style="position: relative;">&nbsp;居住属性:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>
				<select v-model="tChildInfo.chilResidence" class="form-control"  id="chilResidence" name="chilResidence"  style="margin-left: 18px">

				</select>
			</div>
			<div class="form-group">
				<span style="position: relative;">&nbsp;户籍属性:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>
				<select v-model="tChildInfo.chilAccount" class="form-control"  id="chilAccount" name="chilAccount" style="margin-left: 18px" >

				</select>

			</div>
			<div class="form-group">
				<span style="position: relative;">&nbsp;在册情况:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px">*</span></span>
				<select v-model="tChildInfo.chilHere" class="form-control" onchange="openChangeRemark()"  id="chilHere" name="chilHere" style="margin-left: 18px" >

				</select>

			</div>
			<div class="form-group">
				<span style="position: relative;">  &nbsp;在册状态变更原因:<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px"></span></span>
				<select v-model="tChildInfo.chilLeaveremark" disabled class="form-control"  id="chilLeaveremark" name="chilLeaveremark" style="margin-left: 18px">

				</select>

			</div>
			<br/>
			<br/>

			<div class="form-group">
				<span style="position: relative;">&nbsp;出生体重(kg):<span  style="color:red;padding-left: 5px;font-size: 20px;position: absolute;margin-top: 6px"></span></span>	<input type="text" class="form-control" v-model="tChildInfo.chilBirthweight" name="chilBirthweight" style="width: 100px;margin-left: 18px" placeholder="">

			</div>



			<div class="form-group">
				&nbsp;手机:	<input type="text" class="form-control" v-model="tChildInfo.chilMobile" name="chilMobile" style="width: 150px" placeholder="">

			</div>
			<div class="form-group" id="chilBirthhospitalnameIdParent">
				<span style="position: relative;margin-right: 9px;">&nbsp;出生医院:<span  style="color:red;margin-left: 2px;font-size: 20px;position: absolute;margin-top: 6px"></span></span>
				<select  class="selectpicker show-tick" title="请选择出生医院..." name="chilBirthhospitalname"  id="chilBirthhospitalname" v-model="tChildInfo.chilBirthhospital"  data-live-search="true" >
					<option value=""></option>
				</select>

			</div>
			<br/>
			<br/>
			<div class="form-group">
				&nbsp;接种证号:	<input type="text" class="form-control" v-model="tChildInfo.chilCardno" name="chilCardno" style="width: 150px" placeholder="">

			</div>
			<div class="form-group">
				&nbsp;身份证号:	<input type="text" class="form-control" v-model="tChildInfo.chilNo" name="chilNo"  style="width: 200px" placeholder="">

			</div>
			<div class="form-group">
				&nbsp;出生证号:	<input type="text" class="form-control" v-model="tChildInfo.chilBirthno" name="chilBirthno" style="width: 150px" placeholder="">

			</div>

			<br/>
			<br/>

			<div class="form-group">
				民族:
				<select v-model="tChildInfo.chilNatiId" class="form-control"  id="chilNatiId" name="chilNatiId" >

				</select>
			</div>
			<div class="form-group">
				&nbsp;学校:
				<select v-model="tChildInfo.chilSchool" class="form-control"  id="chilSchool" name="chilSchool" >

				</select>
			</div>
			<div class="form-group">
				&nbsp;母亲身份证号:	<input type="text" class="form-control" v-model="tChildInfo.chilMotherno" name="chilMotherno" style="width: 200px" placeholder="">

			</div>

			<br/>
			<br/>
			<div class="form-group">
				&nbsp;父亲姓名:	<input type="text" class="form-control" v-model="tChildInfo.chilFather" name="chilFather" style="width: 100px" placeholder="">

			</div>
			<div class="form-group">
				&nbsp;父亲身份证号:	<input type="text" class="form-control" v-model="tChildInfo.chilFatherno" name="chilFatherno" style="width: 200px" placeholder="">

			</div>
			<br/>
			<br/>

			<div class="form-group " style="width: 1700px;">
				<div  style ="position:relative">
					户籍地址:
					<div class="form-group " style="margin-left: 10px;">
						<input readonly type ="text" id="hbaddress" data-toggle ="city-picker"   style="  min-width: 360px;">
					</div>
					<div class="form-group " >
						<input type="text" class="form-control"   placeholder="详细地址" id="hbDetailed"  style="width: 300px"/>
					</div>
				</div>
				<!--<select class="selectpicker" onchange="datacityall($('#Province option:selected').val())"   name="Province" id="Province" style="width: 120px">-->
				<!--</select>-->

				<!--(省)-->
				<!--<select class="selectpicker" onchange="datavallageall($('#City option:selected').val())"  name="City" id="City" style="width: 200px" >-->
				<!--</select>-->

				<!--(市)-->
				<!--<select class="selectpicker" onchange="datatownall($('#Village option:selected').val())"  name="Village" id="Village" style="width: 200px" >-->
				<!--</select>-->

				<!--(县/区)-->
				<!--<select class="selectpicker"  name="Twon" id="Twon"  style="width: 200px">-->
				<!--</select>-->
				<!--(乡镇/街道)-->
				<!--<input type="text" class="form-control"   placeholder="详细地址" id="detailed"  style="width: 300px"/>-->
				<input type="hidden" class="form-control" v-model="tChildInfo.chilHabiaddress"  placeholder="" id="chilHabiaddress"  />

			</div>

			<br/>
			<br/>

			<div class="form-group " style="width: 1700px;">
				<div  style ="position:relative">
					现居地址:
					<div class="form-group " style="margin-left: 10px;">
						<input readonly type ="text" id="nowaddress" data-toggle ="city-picker"    style="  min-width: 360px;">
					</div>
					<div class="form-group " >
						<input type="text" class="form-control"   placeholder="详细地址" id="nowDetailed"  style="width: 300px"/>
					</div>
				</div>
				<!--<select class="selectpicker" onchange="datacityall2($('#Province_home option:selected').val())"  name="Province_home" id="Province_home" style="width: 120px" >-->
				<!--</select>-->

				<!--(省)-->
				<!--<select class="selectpicker"  onchange="datavallageall2($('#City_home option:selected').val())" name="City_home" id="City_home" style="width: 200px" >-->
				<!--</select>-->
				<!--(市)-->
				<!--<select class="selectpicker" onchange="datatownall2($('#Village_home option:selected').val())"  name="Village_home" id="Village_home" style="width: 200px" >-->
				<!--</select>-->
				<!--(县/区)-->
				<!--<select class="selectpicker" name="Twon_home" id="Twon_home"  style="width: 200px">-->
				<!--</select>-->
				<!--(乡镇/街道)-->
				<!--<input type="text" class="form-control"   placeholder="详细地址" id="detailed_home"  style="width: 300px"/>-->
				<input type="hidden" class="form-control" v-model="tChildInfo.chilAddress"  placeholder="" id="chilAddress"  />

			</div>

			<br/>
			<br/>

			<div class="form-group">
				&nbsp;备注:	<input type="text" class="form-control" v-model="tChildInfo.remark" name="remark" style="width: 800px" placeholder="">

			</div>

			<br/>
			<br/>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				&nbsp;&nbsp;				&nbsp;&nbsp;<input type="button" class="btn btn-primary" @click="saveOrUpdate" id="saveOrUpdate" value="确定"/>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/statics/js/child/tchildinfo.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/statics/js/child/childvalidator.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/statics/js/child/allprovince.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/bus/mouseoverinocdata.js"></script>
<script>
    /*var Select = {
        del : function(obj,e){

            console.log(obj+e);
            if((e.keyCode||e.which||e.charCode) == 1){
                var opt = obj.options[0];
                opt.text = opt.value = opt.value.substring(0, opt.value.length>0?opt.value.length-1:0);
            }
        },
        write : function(obj,e){
            if((e.keyCode||e.which||e.charCode) == 1)return ;
            var opt = obj.options[0];
            opt.selected = "selected";
            opt.text = opt.value += String.fromCharCode(e.charCode||e.which||e.keyCode);
        }
    }

    function test(){
        alert(document.getElementById("select").value);
    }*/
</script>

<script>
</script>
</body>
</html>