<!DOCTYPE html>
<html>
<head>
<title>机构接种日设置表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("tbasedaysetting:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("tbasedaysetting:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("tbasedaysetting:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">接种点编码 类似5201110301</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseDaySetting.departId" placeholder="接种点编码 类似5201110301"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">接种日设置类型 1. 接种点-周设置，2.接种点-居委会/行政村-周设置，3.接种点-疫苗-周设置，4.接种点-月设置，5.接种点-居委会/行政村-月设置，6.接种点-疫苗-月设置</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseDaySetting.settingType" placeholder="接种日设置类型 1. 接种点-周设置，2.接种点-居委会/行政村-周设置，3.接种点-疫苗-周设置，4.接种点-月设置，5.接种点-居委会/行政村-月设置，6.接种点-疫苗-月设置"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">接种点设置的接种日，如果接种日设置类型为1, 该字段保存1到7之间的集合（json对象的字符），如果接种日设置类型为4，该字段保存1到31之间的集合，如果接种日设置类型为其他值，该值不设置</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBaseDaySetting.days" placeholder="接种点设置的接种日，如果接种日设置类型为1, 该字段保存1到7之间的集合（json对象的字符），如果接种日设置类型为4，该字段保存1到31之间的集合，如果接种日设置类型为其他值，该值不设置"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/statics/js/tbasedaysetting/tbasedaysetting.js?_${date.systemTime}"></script>
</body>
</html>