<!DOCTYPE html>
<html>
<html xmlns:v-bind="http://java.sun.com/jsf/composite">
<head>
	<title>儿童禁忌表</title>
	#parse("sys/header.html")
	<link href="../statics/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<script src="../statics/libs/moment-with-locales.js"></script>
	<script src="../statics/libs/bootstrap-datetimepicker.min.js"></script>
	<script src="../statics/libs/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<input type="hidden" id="chilCode" value="${request.getParameter('chilCode')}">
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<div class="form-group col-sm-2">-->
				<!--<input type="text" class="form-control" v-model="q.chilCode"  @keyup.enter="query" placeholder="按姓名搜索">-->
			<!--</div>-->
			<!--<a class="btn btn-info" @click="query"><i class="fa fa-search"></i>&nbsp; 查询</a>-->
			<!--#if($shiro.hasPermission("tchildtaboo:save"))-->
			<!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
			<!--#end-->
			<!--#if($shiro.hasPermission("tchildtaboo:update"))-->
			<!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--#end-->
			<!--#if($shiro.hasPermission("tchildtaboo:delete"))-->
			<!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<!--#end-->
			<!--<a class="btn btn-primary" href="javascript:history.go(-1)">返回上一级</a>-->
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="tabooForm">
			<!--<div class="form-group">-->
			<!--<div class="col-sm-2 control-label">儿童id</div>-->
			<!--<div class="col-sm-10">-->
			<!--<input type="text" class="form-control" v-model="tChildTaboo.istaChilId" placeholder="儿童id"/>-->
			<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">-->
			<!--<div class="col-sm-2 control-label">儿童编码</div>-->
			<!--<div class="col-sm-10">-->
			<!--<input type="text" class="form-control" v-model="tChildTaboo.istaChilCode" placeholder="儿童编码"/>-->
			<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<div class="col-sm-2 control-label">儿童编码</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="tChildTaboo.chilCode" readonly placeholder=""/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">儿童姓名</div>
				<div class="col-sm-10">
					<input type="text" id="chilName" class="form-control" value="${request.getParameter('chilName')}" readonly>
					<!--<input type="text" class="form-control"  id="${request.getParameter('chilNames')}" readonly placeholder=""/>-->
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">接种禁忌</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="tChildTaboo.istaCode" placeholder="接种禁忌代码"/>-->
					<select v-model="tChildTaboo.istaCode" class="form-control"  id="items" name="items" >
						<option v-for="item in items" v-bind:value="item.value">{{item.text}}</option>
						<!--<option v-for="item in items" v-bind:value="item.value">111</option>-->
					</select>
				</div>
			</div>
			<!--<div class="form-group">-->
				<!--<div class="col-sm-2 control-label">疫苗</div>-->
				<!--<div class="col-sm-10">-->
					<!--<input type="hidden" id="fkVaccineCode" v-model="tChildTaboo.istaBioCode">-->
					<!--<input type="text" class="form-control" id="fkVaccineName" name="productName" v-model="tChildTaboo.istaBioCode" placeholder="请选择疫苗" data-toggle="modal" data-target="#myModal"/>-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<div class="col-sm-2 control-label">检测日期</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="tChildTaboo.istaCheckDate" id="istaCheckDate" placeholder=""/>
				</div>
			</div>

			<!--<div class="form-group">-->
				<!--<div class="col-sm-2 control-label">备注</div>-->
				<!--<div class="col-sm-10">-->
					<!--<input type="text" class="form-control" v-model="tChildTaboo.remark" placeholder="备注"/>-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 650px;">
			<div class="modal-header">
				疫苗信息
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" id="searchName"  placeholder="请输入关键字查询" style="width: 200px" oninput="searchName()"/>
				<table id="vaccine"></table>
				<div id="vaccinePager"></div>
			</div>
			<div class="modal-footer">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script src="${rc.contextPath}/statics/js/medical/tchildtaboo.js?_${date.systemTime}"></script>
</body>
</html>