<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Dao">

	<select id="queryObject" resultType="${package}.entity.${className}Entity">
		select * from ${tableName} where ${pk.columnName} = #{value}
	</select>

	<select id="queryList" resultType="${package}.entity.${className}Entity">
		select * from ${tableName} 
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from ${tableName} 
	</select>

	<insert id="save" parameterType="${package}.entity.${className}Entity">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="$pk.columnName">
            select uuid()
        </selectKey>
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
#if($column.columnName == $pk.columnName)`$column.columnName`,
#end
#if($column.columnName != $pk.columnName)
#if ($column.attrType == "String")
<if test="$column.attrname != null and $column.attrname  != ''">`$column.columnName` #if($velocityCount != $columns.size()), #end</if>
#else
<if test="$column.attrname != null">`$column.columnName` #if($velocityCount != $columns.size()) , #end</if>
#end
#end
#end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
#if($column.columnName == $pk.columnName)
#{${pk.attrname}},
#end
#if($column.columnName != $pk.columnName)
#if ($column.attrType == "String")
<if test="$column.attrname != null and $column.attrname  != ''">#{$column.attrname} #if($velocityCount != $columns.size()), #end</if>
#else
<if test="$column.attrname != null">#{$column.attrname} #if($velocityCount != $columns.size()), #end</if>
#end
#end
#end
	</trim>
    </insert>
	 
	<update id="update" parameterType="${package}.entity.${className}Entity">
		update ${tableName} 
		<set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
#if ($column.attrType == "String")
	<if test="$column.attrname != null and $column.attrname  != ''">`$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#else
	<if test="$column.attrname != null">`$column.columnName` = #{$column.attrname} #if($velocityCount != $columns.size()), #end</if>
#end
#end
#end
		</set>
		where ${pk.columnName} = #{${pk.attrname}}
	</update>
	
	<delete id="delete">
		delete from ${tableName} where ${pk.columnName} = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from ${tableName} where ${pk.columnName} in 
		<foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
			#{${pk.attrname}}
		</foreach>
	</delete>

</mapper>