<!DOCTYPE html>
<html>
<head>
	<title>取消原因表</title>
	#parse("sys/header.html")
</head>
<body>
<input type="hidden" id="chilCode" value="${request.getParameter('chilCode')}">
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="cancelForm">
			<div class="form-group">
				<div class="col-sm-2 control-label">儿童编码</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="tBusCancel.chilCode" readonly placeholder=""/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">儿童姓名</div>
				<div class="col-sm-10">
					<input type="text" id="chilName" class="form-control" value="${request.getParameter('chilName')}" readonly>
					<!--<input type="text" class="form-control"  id="${request.getParameter('chilNames')}" readonly placeholder=""/>-->
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">取消原因<span  style="color:red;padding-left: 5px;float: right;font-size: 20px">*</span></div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="tBusCancel.content" placeholder="取消原因"/>-->
					<input list="test" type="text" class="form-control" name="content" v-model="tBusCancel.content" placeholder="取消原因"   >
					<datalist id="test"  >
						<option value="儿童身体不适" >儿童身体不适</option>
						<option value="呼叫多次未到">呼叫多次未到</option>
						<option value="疫苗用完">疫苗用完</option>
					</datalist>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/statics/js/medical/tbuscancel.js?_${date.systemTime}"></script>
</body>
</html>